#container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center
}


.title-text {
    font-weight: 600;
    margin-top: 0.5em;
}

.classroom-form {
    margin-top: 1em;
}

.save-btn {
    margin-top: 1em;
}
