<html>
{% load static %}

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">

        <!--     Fonts and icons     -->
        <link
          rel="stylesheet"
          type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
        />

        <!-- Material Kit CSS -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />

        <!-- Our CSS -->
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />

        {% block title %}
        {% endblock title %}

        <!-- jquery.js -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}" /></script>

        <!-- vue.js -->
        <script type="text/javascript" src="{% static 'js/vue.min.js' %}" /></script>

        <!--   Bootstrap JS Files   -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

        {% block title_scripts %}
        {% endblock title_scripts %}
        <title>Escola</title>
    </head>

    <body class="dark-edition">
        {% block content %}
        {% endblock content %}

        {% block body_scritps %}
        {% endblock body_scritps %}
    </body>

</html>
