h1 {
    margin: 0;
}


#container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center
}


.header {
    display: flex;
    align-items: center;
    width: 35em;
    margin: 2em 0 1em 0;
}

.header-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title-text {
    font-weight: 600;
}

.bi-arrow-left {
    font-size: 2em;
    font-weight: 900;
}

.details-form {
    margin-top: 2em;
    width: 35em;
}

.input-group-text {
    width: 6em;
}

.control-btn {
    width: 5em;
    border: 0px;
    margin: 1em 1em 0 0;
}
