{% extends 'base.html' %}
{% load static %}

{% block title %}
<link href="{% static 'css/student_add.css' %}" rel="stylesheet" />
{% endblock title %}

{% block content %}
<div id="vue-app">
  <div id="container">
    <div class="header">
      <a
        class="btn btn-light text-dark"
        href="{% url 'students_url' %}"
      >
        <i class="bi bi-arrow-left"></i>
      </a>
      <div class="header-title">
        <h1 class="title-text">
          Adicionar
        </h1>
      </div>
    </div>

    <form
      class="teacher-form"
      method="POST"
      action=""
      disabled
    >
      {% csrf_token %}

      <div class="input-group mb-3">
        <span class="input-group-text">nome</span>
        <input
          type="text"
          value="{{ form.name.value|default_if_none:'' }}"
          class="form-control"
          placeholder="Nome do Professor"
          aria-label="Nome da Matéria"
          aria-describedby="basic-addon1"
          name="name"
          :disabled="!editing"
        />
        {% comment %} {{ form.name.errors }} {% endcomment %}
      </div>

      <div class="input-group mb-3">
          <span class="input-group-text">professor</span>
          <select
            class="form-select"
            name="teacher"
            type="text"
            id="teacher-select"
            data-width="100%"
            v-bind:disabled="!editing"
          >
            <option
              value="{{ info.teacher.id|default_if_none:'' }}"
              selected
              v-show="!editing"
            >
              {{ info.teacher.name|default_if_none:'' }}
            </option>
            {% for teacher in teachers %}
              <option v-show="editing" value="{{ teacher.id|default_if_none:'' }}">{{ teacher.name|default_if_none:'??' }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="text-warning">
          {{ form.non_field_errors }}
        </div>

      <button
        type="submit"
        class="btn btn-primary bg-info text-dark save-btn"
      >
        Salvar
      </button>
    </form>
  </div>
</div>
{% endblock content %}
