{% extends 'base.html' %}
{% load static %}

{% block title %}
<link href="{% static 'css/students.css' %}" rel="stylesheet" />
{% endblock title %}

{% block content %}
<div id="container">
  <div class="header">
    <a
      class="btn btn-light text-dark"
      href="{% url 'home_url' %}"
    >
      <i class="bi bi-arrow-left"></i>
    </a>
    <div class="header-title">
      <h1 class="title-text">
        Estudantes
      </h1>
    </div>
  </div>

  <div class="list-shard">
    <ul class="list-group">
      {% for student in students %}
        <a
          class="list-group-item bg-info text-dark btn btn-primary"
          href="details/?cr={{ student.id }}"
          v-on:click="toggleDetailModal"
        >
          <div class="show-data">
            {{ student.name }}
          </div>
        </a>
      {% endfor %}
      <a
        class="btn btn-info text-dark add-btn"
        href="add/"
      >
        +
      </a>
    </ul>
  </div>

</div>
{% endblock content %}
